<app-headings title="Portfolio" subtitle="My Recent Work"></app-headings>
<div class="row mb-40">
  <div class="column">
    <img class="image" ngSrc="assets/img/siteweb.png" alt="" height="1200" width="1584">
  </div>
  <div class="column">
    <img class="image" ngSrc="assets/img/siteweb2.png" alt="" height="768" width="1024">
  </div>
  <div class="column">
    <img class="image" ngSrc="assets/img/siteweb3.png" alt="" height="1200" width="1600">
  </div>
  <div class="column">
    <img class="image" ngSrc="assets/img/siteweb4.png" alt="" height="768" width="1024">
  </div>
  <div class="column">
    <img class="image" ngSrc="assets/img/siteweb5.png" alt="" height="768" width="1024">
  </div>
  <div class="column">
    <img class="image" ngSrc="assets/img/siteweb6.png" alt="" height="768" width="1024">
  </div>
</div>
