<div class="content mb-40">
  <div class="wrapper__inner content__inner d-flex flex-direction-column">
    <p class="text mb-20 text-white">
      " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores doloremque ducimus, ea eum ex explicabo facilis fuga ipsa minima nostrum officia praesentium quae quasi qui quidem reiciendis repellat reprehenderit voluptates! "
    </p>
    <h3 class="mb-20 text-white">Developer - Designer - Freelancer</h3>
    <h2>Clint Eastwood</h2>
  </div>
</div>
