.title {
  margin-bottom: 40px;
}

.subtitle {
  display: flex;
  align-items: center;
  overflow: hidden;
  color: var(--color-subtitle);
  margin-bottom: 10px;

  &::before {
    content: "";
    flex-grow: 1;
    height: 2px;
    background-color: currentColor;
    margin-right: 1rem;
    max-width: 80px;
  }
  &__inner {
    line-height: 2rem;
    font-size: 1.25rem;
  }
}
