<nav>
  <div class="d-flex">
    <img ngSrc="assets/svg/target.svg" alt="logo" width="64" height="64">
    <h2>Clint</h2>
  </div>
  <div>menu hamburger</div>
</nav>
<div class="header">
  <h3 class="title">
    Welcome to my Clint template
  </h3>
  <h1>
    Hello I'm Clint Eastwood
  </h1>
  <h2>
    Developer - Designer - Freelancer
  </h2>
  <p>
    Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée. Généralement, on utilise un texte en faux
  </p>
  <div class="d-flex">
    <button>facebook</button>
    <button>twitter</button>
    <button>linkedin</button>
    <button>Pinterest</button>
  </div>
  <div class="d-flex">
    <button>Read more</button>
    <button>Contact me</button>
  </div>
  <div class="img-container">
    <img ngSrc="assets/img/clint.jpg" alt="Clint Eastwood" priority="" height="769" width="1213">
  </div>
</div>
