<div class="content mb-40">
  <nav class="nav">
    <div class="wrapper__inner d-flex justify-content-space-between align-items-center">
      <div class="d-flex gap-20 align-items-center">
        <img class="logo" ngSrc="assets/svg/target.svg" alt="logo" width="64" height="64">
        <h2 class="logo__label">Clint</h2>
      </div>
      <div><span class="material-icons text-white">menu</span></div>
    </div>
  </nav>
  <div class="wrapper__inner content__inner is-relative">
    <div class="header">
      <h3 class="header__subtitle">
        Welcome to my Clint template
      </h3>
      <h1>
        Hello I'm Clint Eastwood
      </h1>
      <h2 class="header__subtitle">
        Developer - Designer - Freelancer
      </h2>
      <p class="mb-40">
        Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée. Généralement, on utilise un texte en faux
      </p>
    <div class="d-flex gap-20">
      <button class="c-btn">Read more <span>&#x279C;</span></button>
      <button class="c-btn c-btn--secondary">Contact me</button>
    </div>
  </div>
  </div>
</div>
