@use "../tools/typography";

.title-underline {
  margin-bottom: 20px;
  color: currentColor;
  &::after {
    border-bottom: 0.125rem solid currentColor;
    content: "";
    display: block;
    width: 3.4375rem;
  }

  &__inner {
    padding-bottom: 10px;
    display: flex;
    font-size: 16px;
    @include typography.font-weight(bold);
  }
}
