<app-headings title="My Experience" subtitle="Work Experiences"></app-headings>

<div class="row mb-40">
  <div class="column" *ngFor="let experience of experiences$ | async">
    <app-card [class.is-featured]="experience.featured">
      <span class="icon material-icons">{{experience.icon}}</span>
      <div class="title">{{experience.title}}</div>
      <p class="paragraph">{{experience.description}}</p>
      <a [href]="experience.link" target="_blank" class="link">Read more <span>&#x279C;</span></a>
    </app-card>
  </div>
</div>
