<app-headings title="My Services" subtitle="What I Do For You"></app-headings>
<div class="row mb-40">
  <div class="column" *ngFor="let service of services; let index = index;">
    <app-card
      [class]="service.theme"
      [ngClass]="{'has-read-more': service.readMore, 'has-sign-up': service.signUp}"
    >
      <span class="is-absolute index">0{{index + 1}}</span>
      <span class="material-icons">{{service.icon}}</span>
      <div class="title-underline">
        <span class="title-underline__inner">
          {{service.title}}
        </span>
      </div>
      <p>{{service.description}}</p>
    </app-card>
  </div>
</div>
