@use "../../../css/tools/typography";

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.avatar {
  box-shadow: rgba(0, 0, 0, 0.09) 0 3px 12px;
  border-radius: 50%;
}

.name {
  @include typography.font-weight(bold);
  font-size: 16px;
}
