<app-headings title="Testimonials" subtitle="What client Say"></app-headings>
<div class="row mb-40">
  <div class="column" *ngFor="let testimonial of testimonials$ | async">
    <app-card>
      <p class="paragraph">" {{testimonial.description}} "</p>
      <div class="d-flex gap-20 align-items-center">
        <img class="avatar" ngSrc="{{testimonial.photo}}" alt="{{testimonial.name}}" width="75" height="75">
        <div class="d-flex flex-direction-column">
          <div class="name mb-10">{{testimonial.name}}</div>
          <div>{{testimonial.job}}</div>
        </div>
      </div>
    </app-card>
  </div>
</div>
